body {
    font-family: 'Cabin', sans-serif;
    margin: 0%;
    padding: 0%;
}

.navbar {
    background-color: #373A3C;
}

.navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 37px;
    font-weight: 400;
}

.navbar-collapse {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    font-weight: 400;
}


.header {
    justify-content: center;
}

.imgp {
    width: 482px;
    height: 384px;
   
}

h1 {
    font-family: 'Cabin', sans-serif;
    font-size: 45px;
    font-weight: 700;
    font-weight: bold;
}


.carousel-indicators [data-bs-target]{
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
.tit{
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    font-weight: 400;
   text-decoration: underline;
}

.masa{
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.card-title{
    font-family: 'Cabin', sans-serif;
    font-size: 25px;
    font-weight: 700;
}


.ricomida{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    font-weight: 400;
}

.ricomida1{
    font-family: 'Lobster', cursive;
    font-size: 37px;
    font-weight: 400;
}


.bl{
    padding-left: 7rem;
    padding-right: 7rem;
}
@media (max-width: 768px) {

    .nav1 {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .imgp {
        height: 236px;
        width: 286px;
    }

    h1 {
        font-family: 'Cabin', sans-serif;
        font-size: 25px;
        font-weight: 700;
        text-align: center;
    }

    .p1 {
        font-family: 'Cabin', sans-serif;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }

    .btn1 {
        font-family: 'Cabin', sans-serif;
        font-size: 13px;
        font-weight: 400;
        text-align: center;
    }
    
    .tit{
        font-family: 'Cabin', sans-serif;
        font-size: 20px;
        font-weight: 700;
        font-weight: bold;
        
    }

    .masa{
        font-family: 'Cabin', sans-serif;
        font-size: 16px;
        font-weight: 400;
        
    }


    .card-title{
        font-family: 'Cabin', sans-serif;
        font-size: 17px;
        font-weight: 700;
        text-align: center;
    }

    .card{
        width: 18rem;
    }
}